/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style  */
body{
    font-family: 'Poppins', sans-serif;
}

/* ----------
header style 
-------------- */
header{
    display: flex;
    justify-content: space-between;
}
.main-header{
    margin-left: 50px;
}
.navigation-item{
    margin-right: 40px;
}
/* navigation Bar style  */
nav> ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 15px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
/* -----------------
header style ends
------------------- */

/* main area style  */

.promo-area{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding: 40px;
}
.half-width img{
    width: 95%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #B9345A;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}
.brand-logos{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-logos .logo{
    margin-right: 50px;
}
hr{
    width: 80%;
    border: 1px solid rgba(236, 231, 231, 0.91);
    margin-bottom: 30px;
}
.item-head{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

/* Products area style  */
.product-container{
    margin-left: 90px;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    
}
.product{
    width: 310px;
    height: 480px;
    box-shadow: 10px 10px 10px whitesmoke;
    margin-bottom: 30px;
}
.fa-star{
    color: #E8BD0D;
}
.see-more{
    color: #B9345A;
    text-decoration: none;
    font-weight: 600;
    margin-left: 65em;
}
#work-hard{
    border-radius: 10px;
    margin-left: 20px;
}
.optional-heading{
    font-weight: 900;
}

/* footer design  */

footer{
    color: white;
    background-color: #120E43;
    text-align: center;
    padding-top: 20px;
}

.social-icon a{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: white;
}

/*---------------
 Media Queries 
---------------- */

/* Mobile Devieces  */

@media only screen and (max-width: 688px){
    
    .main-header{
        margin-left: 8em;
        text-align: center;
    }
    .navigation-item{
        display: none;
    }
    .promo-area{
        display: flex;
        flex-direction: column;
    }
    .half-width{
        width: 80%;
    }
    .brand-logos{
        display: flex;
        flex-direction: column;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}
.product-container{
    margin-left: 45px;
}
.see-more{
    margin-left: 10em;
}
}
/* Tablet Devieces  */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .promo-area{
        display: flex;
        flex-direction: column;
    }
    .half-width{
        width: 90%;
    }
    .brand-logos{
        display: flex;
        flex-direction: column;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}
.product-container{
    margin-left: 45px;
}
.see-more{
    margin-left: 13em;
}
}
/* ---------------
Media Queries Ends 
-------------------*/